.TheApp_favelet_core{

}
.TheApp_favelet_core .TheApp_window{
    position: absolute !important;
    width: 200px;
    min-height: 300px;
    overflow: auto;
    background: #fff;
    border: solid 1px #0A487C;
    padding: 5px;
    left: -500px;
    top: -500px;
    z-index: 10000;
}

.TheApp_favelet_core .TheApp_window .TheApp_handle{
    background: #CCC;
    height: 20px;
    position: relative;
}
.TheApp_favelet_core .TheApp_window .TheApp_handle .TheApp_minimize{
    position: absolute;
    right: 4px;
    bottom: 2px;
    font-size: 16px;
    cursor: pointer;
    cursor: hand;
}

.TheApp_favelet_core .TheApp_token{
    position: fixed;
    width: 200px;
    text-align: right;
    padding: 3px;
    background: #fff;
    border: solid 1px #0A487C;
    top: 150px;
    left: -140px;
    z-index: 10000;
    cursor: pointer;
}
.TheApp_favelet_core .TheApp_token div{
    background: #CCC;
    padding: 2px;
}